In [16]:
import pandas as pd
import numpy as np 
import csv
csv_path = "Resources/budget_data.csv"

In [15]:
budget = pd.read_csv(csv_path)
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [18]:
budget.count()

Date             86
Profit/Losses    86
dtype: int64

In [26]:
ProfitLosses = budget["Profit/Losses"].sum()
ProfitLosses

38382578

In [28]:
Min= ProfitLosses = budget["Profit/Losses"].min()
Min

-1196225

In [29]:
Max= ProfitLosses = budget["Profit/Losses"].max()
Max

1170593

In [32]:
# avarage= ("ProfitLosses") / (budget["Profit/Losses"].count())
avarage=budget["Profit/Losses"]. mean()
avarage

446309.0465116279

In [ ]:
#for i in range(len(self.total_change) - 1):
 #          self.monthly_change.append(self.total_change[i + 1] - self.total_change[i])