In [2]:
import pandas as pd
import numpy as np 
import csv
csv_path = "Resources/election_data.csv"

In [3]:
election = pd.read_csv(csv_path)
election.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
election.dropna()
election.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [5]:
location = election.drop_duplicates()
location.groupby('County').size()

County
Bamoo       348658
Marsh      2265957
Queen       697203
Raffah      104566
Trandee     104617
dtype: int64

In [6]:
candidate = election.drop_duplicates()
candidate.groupby('Candidate').size()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
dtype: int64

In [7]:
#candidate.apply(lambda x: x/x.sum())
#candidate.groupby('Candidate').sum()
#candidate.sum('Candidate')

In [15]:
number = election["Candidate"].value_counts(normalize = True)
number_pct = round(number*100)
number_pct

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64